*,
*::after,
*::before {
  padding: 0;
  margin: 0;
  box-sizing: inherit;
}

html {
    box-sizing: border-box;
    font-size: 62.5%;/* 1rem = 10px, 10/16 = 62.5%; */
}

body {
    font-family: 'Poppins', sans-serif;
    font-size: 1.6rem;
    font-weight: 400;
    background: #fff;
}

header{
    height: 20rem;
}
/*=== cards__section ===*/
#cards__section{
    display: flex;
    justify-content: center;
    margin-bottom: 16.5rem;
}
.cards{
    display: grid;
    grid-template-columns: repeat(3,1fr);
    grid-column-gap: 3rem;
    grid-row-gap: 2.7rem;
    width: 105rem;
}

.card{
    padding: 1.5rem;
    box-shadow: 0px 0px 40px rgba(0, 0, 0, 0.15);
}

.card img{
    width: 300px;
    height: 256px;
    margin-bottom: 1.6rem;
}

.card__title{
    font-weight: 700;
    font-size: 2.8rem;
    line-height: 4rem;
    color: #18191F;
}

.card__text{
    font-size: 1.6rem;
    line-height: 2.6rem;
    color: #6C6C6C;
    font-weight: 400;
    margin-bottom: 1.8rem;
}




/*=== Highlights__section ===*/
#highlights__section{
    display: flex;
    justify-content: center;
    margin-bottom: 15.8rem;
}

.highlights__wrap{
    display: flex;
    align-items: center;
    width: 105rem;
}

.highlights__content{
    margin-right: 6.6rem;
}

.highlights__img img{
    width: 567px;
    height: 427px;
}


.heading__secondary{
    font-size: 4.2rem; /* original 48px */
    line-height: 6rem;
    color: #0A0826;
}

.highlights__text{
    font-size: 1.6rem;
    line-height: 2.8rem;
    color: #6C6C6C;
    margin-bottom: 2.4rem;
}



/*=== gallery__section ===*/
#gallery__section{
    display: flex;
    justify-content: center;
    color: #fff;
    margin-bottom: 6.6rem;
}
.galerry__wrap{
    width: 105rem;
}
.players__photos--wrap{
    display: grid;
    grid-template-columns: repeat(3,1fr);
}
.players__photos{
    overflow: hidden;
}

.players__photos img{
    width: 100%;
    display: block;
}
.players__photos img:hover{
    transform: scale(1.2);
    transition: transform .4s;
}








/*=== registration__section ===*/

#registration__section{
    display: flex;
    justify-content: center;
    margin-bottom: 6.3rem;
    color: #fff;
}
.registration__wrap{
    display: flex;
    align-items: center;
    width: 105rem;
    background: #0A0A0B;
}
.players__img{
    width: 57%;
    height: 31.3rem;
}
.players__img img{
    width: 100%;
}

.registration__info{
    width: 50%;
    padding: 3rem;
}

.sub__heading{
    font-size: 1.8rem;
    font-weight: 500;
}

.heading-tertiary{
    font-size: 2.5rem;
}

.email{
    height: 3.5rem;
    width: 30rem;
    padding-left: 1rem;
    font-weight: 700;
    outline: none;
}
.submit{
    height: 3.5rem;
    width: 10rem;
    background: #E02C6D;
    border: 0;
    margin-left: -.5rem;
}

.Register__text{
    font-size: 1.1rem;
    color: #666;
    margin-top: 1.5rem;
}




/*=== footer ===*/
#footer__section{
    display: flex;
    justify-content: center;
    margin-bottom: 6.3rem;
}
.footer__content{
    width: 48.4rem;
    height: 21.3rem;
    display: flex;
    flex-direction: column;
    align-items: center;
}
.footer__logo{
    margin-bottom: 2rem;
    height: 11rem;
}
.footer__logo img{
    width: 100%;
}

/* Social nav */
.social__icons{
    margin-bottom: 2rem;
}
.social__list{
    padding: 0;
    margin: 0;
    display: flex;
}

.social__list .social__item{
    list-style: none;
    background: #E7E7E8;
    border-radius: 50%;
    height: 3.2rem;
    width: 3.2rem;
    display: flex;
    justify-content: center;
    align-items: center;
    cursor: pointer;
}
.social__list .social__item:not(:last-child){
    margin-right: 1.4rem;
}

.social__list .social__item .social__link{
    text-decoration: none;
    color: #969BAB;
    font-size: 1.77rem;
}
.social__list .social__item:hover .social__link{
    color:#E02C6D;
    transition: color .4s;
}

.copyright{
    font-size: 1.8rem;
    line-height: 2.4rem;
    color: #000;
}




