/*= Animation =*/
@keyframes move {
    0% {
        margin-left: 10.2rem;
        width: 100%;
    }
    50% {
        margin-left: 5rem;
        width: 90%;
    }
    100% {
        margin-left: 0;
        width: 80%;
    }
  }


  /*=== Global values ===*/
*,
*::after,
*::before {
  padding: 0;
  margin: 0;
  box-sizing: inherit;
}

/*=== root: HTML ===*/
html {
    box-sizing: border-box;
    font-size: 62.5%;/* 1rem = 10px, 10/16 = 62.5%; */
}

/*=== body ===*/
body {
    font-family: 'Poppins', sans-serif;
    font-size: 1.6rem;
    font-weight: 400;
    background: #fff;
}




/*=== header ===*/
#header{
    background: #2D25A0;
    display: flex;
    justify-content: center;
    margin-bottom: 7rem;
}

.banner__wrap{
    width: 116rem;
    display: flex;
    align-items: center;
    margin: 6.7rem 0 8.6rem 0;
}

.banner__wrap:hover .hero__img{
    margin-left: 0;
    animation: move ease-in alternate;
    transition: margin-left 1s;
}

.banner__wrap:hover img{
    width: 80%;
    transition: width 1s;
}

.heading__contant{
    width: 48.5rem;
}

.heading__primary{
    font-size: 6.4rem;
    line-height: 8rem;
    color: #fff;
    margin-bottom: 2.7rem;
}


.btn{
    background: #E02C6D;
    padding: 1rem 2.4rem;
    color: #fff;
    text-decoration: none;
    font-weight: 500;
    font-size: 16px;
    line-height: 2.4rem;
}

.btn:hover .fa-arrow-right{
    margin-left: 1.2rem;
    transition: margin-left .2s;
}

.fa-arrow-right{
    font-size: 1.1rem;
    margin-left: .8rem;
}
 
.hero__img{
    width: 55.6rem;
    height: 43.8rem;
    margin-left: 10.2rem;
}

.hero__img img{
    width: 100%;
}






/*=== cards__section ===*/
#cards__section{
    display: flex;
    justify-content: center;
    margin-bottom: 16.5rem;
}

.cards{
    display: grid;
    grid-template-columns: repeat(3,1fr);
    grid-column-gap: 3rem;
    grid-row-gap: 2.7rem;
    width: 105rem;
}

.card{
    padding: 1.5rem;
    box-shadow: 0px 0px 40px rgba(0, 0, 0, 0.15);
}

.card img{
    width: 30rem;
    height: 25.6rem;
    margin-bottom: 1.6rem;
}

.card__title{
    font-weight: 700;
    font-size: 2.8rem;
    line-height: 4rem;
    color: #18191F;
}

.card__text{
    font-size: 1.6rem;
    line-height: 2.6rem;
    color: #6C6C6C;
    font-weight: 400;
    margin-bottom: 1.8rem;
}




/*=== Highlights__section ===*/
#highlights__section{
    display: flex;
    justify-content: center;
    margin-bottom: 15.8rem;
}

.highlights__wrap{
    display: flex;
    align-items: center;
    width: 105rem;
}

.highlights__content{
    margin-right: 6.6rem;
}

.highlights__img img{
    width: 56.7rem;
    height: 42.7rem;
}


.heading__secondary{
    font-size: 4.2rem; /* original 48px */
    line-height: 6rem;
    color: #0A0826;
}

.highlights__text{
    font-size: 1.6rem;
    line-height: 2.8rem;
    color: #6C6C6C;
    margin-bottom: 2.4rem;
}




/*=== gallery__section ===*/
#gallery__section{
    display: flex;
    justify-content: center;
    color: #fff;
    margin-bottom: 6.6rem;
}

.galerry__wrap{
    width: 105rem;
}

.players__photos--wrap{
    display: grid;
    grid-template-columns: repeat(3,1fr);
}

.players__photos{
    overflow: hidden;
}

.players__photos img{
    width: 100%;
    display: block;
}

.players__photos img:hover{
    transform: scale(1.2);
    transition: transform .4s;
}




/*=== registration__section ===*/

#registration__section{
    display: flex;
    justify-content: center;
    margin-bottom: 6.3rem;
    color: #fff;
}

.registration__wrap{
    display: flex;
    align-items: center;
    width: 105rem;
    background: #0A0A0B;
}

.players__img{
    width: 57%;
    height: 31.3rem;
}

.players__img img{
    width: 100%;
}

.registration__info{
    width: 50%;
    padding: 3rem;
}

.sub__heading{
    font-size: 1.8rem;
    font-weight: 500;
}

.heading-tertiary{
    font-size: 2.5rem;
}

.email{
    height: 3.5rem;
    width: 30rem;
    padding-left: 1rem;
    font-weight: 700;
    outline: none;
}

.submit{
    height: 3.5rem;
    width: 10rem;
    background: #E02C6D;
    border: 0;
    margin-left: -.5rem;
}

.Register__text{
    font-size: 1.1rem;
    color: #666;
    margin-top: 1.5rem;
}




/*=== footer ===*/
#footer__section{
    display: flex;
    justify-content: center;
    margin-bottom: 6.3rem;
}

.footer__content{
    width: 48.4rem;
    height: 21.3rem;
    display: flex;
    flex-direction: column;
    align-items: center;
}

.footer__logo{
    margin-bottom: 2rem;
    height: 11rem;
}

.footer__logo img{
    width: 100%;
}

/* Social nav */
.social__icons{
    margin-bottom: 2rem;
}

.social__list{
    padding: 0;
    margin: 0;
    display: flex;
}

.social__list .social__item{
    list-style: none;
    background: #E7E7E8;
    border-radius: 50%;
    height: 3.2rem;
    width: 3.2rem;
    display: flex;
    justify-content: center;
    align-items: center;
    cursor: pointer;
}

.social__list .social__item:not(:last-child){
    margin-right: 1.4rem;
}

.social__list .social__item .social__link{
    text-decoration: none;
    color: #969BAB;
    font-size: 1.77rem;
}

.social__list .social__item:hover .social__link{
    color:#E02C6D;
    transition: color .4s;
}

.copyright{
    font-size: 1.8rem;
    line-height: 2.4rem;
    color: #000;
}




/*===================
         Media 
=====================*/



/*=== Tab-port ===*/
@media only screen and (max-width: 75em) {
    html {
      font-size: 56.25%;
    }


    /* Header */
    .banner__wrap{
        flex-direction: column;
    }

    .heading__contant{
        margin-bottom: 5rem;
    }



    /* Cards__section */
    .cards{
        grid-template-columns: repeat(2,1fr);
    }
    

    /* gallery__section */
    .players__photos--wrap{
        grid-template-columns: repeat(2,1fr);
    }

  }





/*=== Phone ===*/
@media only screen and (max-width: 56.25em) {
    html {
      font-size: 50%;
    }


    /* Header */
    #header{
        margin-bottom: 4.7rem;
    }

    .banner__wrap{
        flex-direction: column;
        max-width: 100%;
        padding: 2rem;
        margin: 4.2rem 0;
    }

    .heading__contant{
        width: 100%;
    }

    .heading__primary{
        font-size: 3.6rem;
        line-height: 5rem;
    }

    .hero__img{
        width: 100%;
        height: auto;
        margin-left: 0;
    }
    


    /* Cards__section */
    #cards__section{
        margin-bottom: 6rem;
    }
    .cards{
        grid-template-columns: repeat(1,1fr);
        grid-column-gap: 2.4rem;
        margin: 0 1.5rem;
    }

    .card img{
        width: 100%
    }



    /* highlights__section */
    #highlights__section{
        margin-bottom: 3.8rem;
    }

    .highlights__wrap{
        flex-direction: column;
        width: 94%;
        margin: 0 3%;
    }

    .highlights__img{
        margin-top: 3rem;
    }

    .highlights__img img{
        max-width: 100%;
        height: auto;
    }
    


    /* gallery__section */
    #gallery__section{
        margin-bottom: 3.8rem;
    }

    .players__photos--wrap{
        grid-template-columns: repeat(1,1fr);
    }



    /* registration__section */
    #registration__section{
        margin-bottom: 3.8rem;
    }

    .registration__wrap{
        flex-direction: column;
    }

    .players__img{
        width: 100%;
        height: 24rem;
    }

    .registration__info{
        width: 100%;
    }

    .submit{
        margin: 1rem 0 0 0;
    }  

}




/*=== Big devices ===*/
@media only screen and (min-width: 112.5em) {
    html {
        font-size: 75%;
    }
}